.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.15);
}

.drawer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 420px;
	height: 100%;
	right: 0;
	background: #FFFFFF;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 20px;
	.wrap{
		h2{
			margin: 0;
		}
	}
}
.drawerBox{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 420px;
	height: 100%;
	right: 0;
	background: #FFFFFF;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 20px;
	.boxClear{
		display: flex;
		flex-direction: column;
		align-items: center;
		// align-self: center;
		margin: auto 0;
		img{
			margin-bottom: 20px;
		}
		.title{
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
			color: #000000;
			margin-bottom: 10px;
		}
		.text{
			width: 285px;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #000000;
			opacity: 0.4;
			margin-bottom: 40px;
		}
		.buttonGreen{
			width: 245px;
			height: 55px;
			padding-bottom: 20px;
			background-color: #9DD458;
			border-radius: 18px;
			border: none;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #FFFFFF;
			cursor: pointer;
			
			img{
				position: relative;
				left: -160px;
				top: 20px;
			}
		}
	}
}
.items{
	flex-grow: 1;
	overflow: auto;
	.cartItem{
		background: #FFFFFF;
		border: 1px solid #F3F3F3;
		border-radius: 20px;
		overflow: hidden;
		padding: 20px;
		margin-bottom: 30px;
		// flex-grow: 1;
	
		.cartItemImg{
			height: 70px;
			width: 70px;
			background-size: contain;
			background-position: 0 -3px;
			background-repeat: no-repeat;
			margin-right: 20px;
		}
		p{
			font-size: 16px;
			margin-right: 0;
		}
		b{
			font-size: 14px;
		}
		.removeBtn{
			opacity: 0.5;
			cursor: pointer;
			transition: opacity 0.15s ease-in-out;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.blookFooter{
	button{
		background: #9DD558;
		border-radius: 18px;
		width: 100%;
		padding: 18px 0;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		border: none;
		cursor: pointer;
		transition: background 0.1s ease-in-out;
		&:hover{
			background: lighten(#9DD558, 10%)
		}
		&:active{
			background: darken(#9DD558, 5%)
		}
		
		img{
			position: relative;
			right: -35px;
			top: 1px;
			transition: background 0.2s ease-in-out;
		}
	}
	.CarTotalBlock{
		margin-bottom: 24px;
		li{
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;
		}
		div{
			flex: 1;
			height: 1px;
			border-bottom: 1px dashed #DFDFDF;
			position: relative;
			top: -4px;
			margin: 0 7px;
		}
	}
}

.greenButton{
	position: relative;
	&:disabled{
		animation: button-loading 0.6s ease-in-out infinite;
		background-color: #bebebe;
		cursor: pointer;
	}
	&:hover{
		img{
			transform: translateX(5px);
		}
	}
	img{
		transition: transform 0.1s ease-in-out;
	}
}

@keyframes button-loading {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.7;
	}
	100%{
		opacity: 1;
	}
}